#card {
  width: 500px !important;
  background-color: transparent !important;
  box-shadow: none !important;
  padding-top: 0 !important;
}

.skills__container {
  display: flex;
  column-gap: 3rem;
  justify-content: center;
}

.skills__content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
  transform-style: preserve-3d;
  transition: transform 0.5s linear;
}

.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.skills__box {
  display: flex;
  justify-content: space-around;
  column-gap: 2.5rem;
}

.skills__group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  row-gap: 2rem;
  margin-bottom: 3rem;
}

.skills__data {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills__container img {
  height: 50px;
  width: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.skills_level {
  font-size: var(--tiny-font-size);
}

@media screen and (max-width: 990px) {
  .skills__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* small devices */

@media screen and (max-width: 500px) {
  #card {
    width: 300px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .skills__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .skills__box {
    display: flex;
    justify-content: center;
    padding: 0.25rem;
  }
  .skills__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
